<form>
    <div class="form-group">
        <label for="pin-code">ПИН-код:</label>
        <input type="password" class="form-control" id="pin-code" value={{pin}} readonly
               placeholder="введите ПИН-код">
    </div>
    <button type="button" class="btn btn-outline-info" ng-click="isPasswordCorrect()" ng-disabled="pinCtrl.isDisable()">ОК</button>
    <button type="button" class="btn btn-outline-info" ng-click="pinCtrl.clear()" ng-disabled="pinCtrl.isDisable()">Очистить</button>
</form>
<br>
<keyboard></keyboard>