<form>
    <div class="form-group">
        <label for="number">Снять:</label>
        <input type="text" class="form-control" id="number" aria-describedby="emailHelp"
               placeholder="введите сумму для выдачи" value={{cash}} disabled>
        <small id="emailHelp" class="form-text text-muted">Номер карты состоит из 16 цифр</small>
    </div>
    <button type="button" class="btn btn-outline-info" ng-click="withdrawal()" ng-disabled="cashCtrl.isDisable()">ОК
    </button>
    <button type="button" class="btn btn-outline-info" ng-click="cashCtrl.clear()" ng-disabled="cashCtrl.isDisable()">
        Очистить
    </button>

</form>
<br>
<keyboard></keyboard>
<br>
<br>
<form>
    <button type="button" class="btn btn-outline-info" go-click="/op">Назад</button>
    <button type="button" class="btn btn-outline-info" go-click="/">Выход</button>
</form>

